@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul,
li,
menu{
    text-decoration: none
}
img{
    max-width: 100%
}
section{
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
}
/* Titolo / Intestazione */
header{
    margin-top: 30px;
    margin-bottom: 50px;
}
.header__title{
    font-size: 40px;
    color: #ff008c;
    text-transform: capitalize;
}
/* Contenuto pagina */
.main__desc{
    margin-bottom: 50px;
}
.main-card__container{
    width: 100%;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
/* Fix del margine per via del padding tra le carte */
.row{
    margin: 0 -15px;
}
/* disposizione carte */
.col{
    float: left;
    padding: 0 15px;
    margin-bottom: 40px;
    width: calc(100% / 3);
}
/* contenuto carte */
.card__item{
    width: 100%;
    color: #fff;
    overflow: hidden;
    text-align: left;
    background-color: #000;
    box-shadow: 1px 1px 5px #000;
}
.card__img{
    float: left;
    width: 100px;
}
.card__content{
    float: left;   
    margin-left: 15px; 
}
.card__title{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.card__title,
.card__desc{
    margin-bottom: 10px;
}
.card__link{
    color: #00eeff;
    text-decoration: none;
}