@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Verdana, sans-serif;
}
ul,
li,
menu{
    text-decoration: none
}
img{
    max-width: 100%
}
header,
main{
    margin: 0 auto;
    max-width: 70vw;
    text-align: center;
}
header{
    margin-top: 30px;
    margin-bottom: 50px;
}
.header__title{
    color: #ff008c;
    text-transform: capitalize;
}
.main__desc{
    margin-bottom: 30px;
}
.main-card__container{
    width: 100%;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.row{
    margin: 0 -15px;
}
.col{
    float: left;
    padding: 0 15px;
    width: calc(100% / 3);
}
.card__item{
    color: #fff;
    text-align: left;
    background-color: #000;
    box-shadow: 1px 2px 3px #000;
}
.card__img{
    float: left;
    width: 100px;
    height: 100px;
}
.card__content{
    float: left;
    margin-top: 10px;
    margin-left: 15px;    
}
.card__title{
    text-transform: uppercase;
    font-weight: 700;
}
.card__title,
.card__desc{
    margin-bottom: 10px;
}
.card__link{
    color: #00eeff;
    text-decoration: none;
}